@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.shadow-anime-glow {
  box-shadow: 0 0 40px rgba(236, 72, 153, 0.3);
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out -2s infinite;
}
